.:5353 {
    odohcache {
        target_url https://odoh.cloudflare-dns.com/dns-query # odoh requests served from Cloudflare ODOH target
        listen_port 8053
        tls_cert localhost.pem
        tls_key localhost-key.pem
    }
    forward . 8.8.8.8 8.8.4.4 # regular requests served from Google DNS
    errors
    log
}

# Testing the ODOH proxy:
# The proxy listens on http://localhost:8053/proxy
# Use odoh-client-go to send queries:
#   odoh-client-go odoh --proxy localhost:8053 --target odoh.cloudflare-dns.com --domain example.com